:root {
  --black: rgb(23, 23, 23);
  --white: rgb(248, 246, 246);
  --grey: rgb(128, 128, 128);
  --dark-grey: rgb(57, 57, 57);
}

/* utilities */
.button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: all 300ms;
}

.button-white {
  background-color: var(--white);
  color: var(--black);
}

.button-white:hover {
  transform: scale(1.1);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.float-left {
  float: left;
}

.hide {
  display: none;
}

/* app specific */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  position: relative;
}

.page-header,
.page-footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  box-sizing: border-box;
}

ion-icon {
  vertical-align: middle;
}

.page-footer {
  text-align: center;
}

.page-title {
  margin: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem 2rem;
}

#map {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

#map img {
  width: 100%;
  object-fit: cover;
}

.boxes {
  width: 100%;
  box-sizing: border-box;
  font-size: x-small;
}

.box {
  padding: 1rem;
}

#map,
.box {
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.box h2,
.box h5,
.box figure {
  margin: 0;
  padding: 0;
}

.box table {
  width: 100%;
  text-align: center;
  border: var(--grey) solid 1px;
  border-radius: 4px;
}

.box li {
  width: calc(50% - 0.6rem);
  box-sizing: border-box;
  text-align: center;
  padding: 0.3rem;
  margin: 0.3rem;
  border: var(--grey) solid 1px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.box img {
  height: 3rem;
}

.goal {
  background-image: url('../img/splatter.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 9rem 7rem;
  position: absolute;
  bottom: 30%;
  text-align: center;
  filter: drop-shadow(0 0 30px #333);
  transform: rotate(340deg);
  box-sizing: border-box;
  line-height: 1rem;
  z-index: 999;
}

.goal h2,
.goal p {
  margin: 0.5rem;
}

#player-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  z-index: 9999;
}

#player-form {
  display: flex;
  width: 50%;
  margin: 4rem auto;
  flex-direction: column;
}

#player-form input {
  padding: 1rem;
  display: inline-block;
}

#weather {
  border-spacing: 0;
}

#weather td {
  padding: 0.3rem;
}

#weather td:first-child,
#weather td:nth-child(2) {
  border-right: #ccc 1px solid;
}

.done {
  background-color: #b1b1b1;
}

.lead-img {
  width: 100%;
  margin: 0 0 1rem 0;
}

/* leaflet icons */
.blue-icon {
  background: #2474ff;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.green-icon {
  background: #27ba35;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.grey-icon {
  background: #484848;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

@media screen and (min-width: 769px) {
  .boxes {
    font-size: initial;
  }

  #map {
    width: 40%;
    height: initial;
  }

  #map img {
    height: 100%;
    object-fit: cover;
  }

  .boxes {
    width: 60%;
    padding-left: 1rem;
  }

  .lead-img {
    width: 50%;
    margin: 0 1rem 1rem 0;
  }
}
