@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Rock+Salt&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container > header,
footer {
  line-height: 5rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(23, 23, 23);
  color: rgb(236, 236, 236);
}

.logo {
  font-size: 1.5rem;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo a:hover {
  color: #ccc;
}

.active {
  color: #fff !important;
  text-shadow: 0 0 12px #fff;
}

.container header h1,
footer p {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1rem 2rem;
  height: 100%;
}

#map {
  width: 100%;
  height: 40vh;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.boxes {
  width: 100%;
  box-sizing: border-box;
  font-size: x-small;
}

.box {
  display: flex;
  flex-flow: column;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.box h2,
.box h5,
.box figure,
.box p {
  margin: 0;
  padding: 0;
}

.box p {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}

.box button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 0.4rem 0;
}

.box table {
  text-align: center;
  border: #ccc solid 1px;
  border-radius: 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

li {
  width: calc(50% - 0.6rem);
  box-sizing: border-box;
  text-align: center;
  padding: 0.3rem;
  margin: 0.3rem;
  border: #ccc solid 1px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

li figure img,
#weather img {
  height: 2rem;
}

.leima {
  font-family: 'Rock Salt', cursive;
  position: absolute;
  bottom: 30%;
  left: 0;
  z-index: 999;
  background-image: url('../img/splatter.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9rem 7rem;
  text-align: center;
  line-height: 1rem;
  filter: drop-shadow(0 0 30px #333);
  transform: rotate(340deg);
  box-sizing: border-box;
}

.leima h2,
.leima p {
  margin: 0.5rem;
}
.leima img {
  margin: -1.5rem;
}

.hide {
  display: none !important;
}

#weather {
  border-spacing: 0;
}

#weather td {
  padding: 0.3rem;
}

#weather td:first-child,
#weather td:nth-child(even) {
  border-right: #ccc 1px solid;
}

/* leaflet ikonit */
.sininen-ikoni {
  background: #2474ff;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.vihrea-ikoni {
  background: #27ba35;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.harmaa-ikoni {
  background: #484848;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.done {
  background-color: #484848;
}

article figure {
  float: left;
}

#player-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  z-index: 9999;
}

#player-form {
  display: flex;
  width: 50%;
  margin: 4rem auto;
  flex-direction: column;
}

#player-form input {
  padding: 1rem;
  display: inline-block;
}

@media screen and (min-width: 769px) {
  .boxes {
    font-size: initial;
  }

  #map {
    width: 40%;
    height: initial;
  }

  .boxes {
    width: 60%;
    padding-left: 1rem;
    box-sizing: border-box;
  }
}
